import requests

{% if compressed %}
# Note: The request might be compressed, consider handling decompression.
{% endif %}

{% if cookies %}
cookies = {
    {% for key, value in cookies.items() %}
    '{{ key }}': '{{ value }}',
    {% endfor %}
}
{% endif %}

headers = {
    {% for key, value in headers.items() %}
    '{{ key }}': '{{ value }}',
    {% endfor %}
}

{% if headers.get('cookie') %}
# 以下是 `Cookie` 头部的内容，已被注释掉
# headers['cookie'] = {
#     {% for key, value in headers['cookie'].items() %}
#     '{{ key }}': '{{ value }}',
#     {% endfor %}
# }
{% endif %}

params = {
    {% for key, value in params.items() %}
    '{{ key }}': '{{ value }}',
    {% endfor %}
}

url = '{{ url }}'

{% if json %}
response = requests.{{ method.lower() }}(
    url,
    headers=headers,
    params=params,
    json={{ json | tojson }},
    cookies=cookies
)
{% elif data %}
response = requests.{{ method.lower() }}(
    url,
    headers=headers,
    params=params,
    data={{ data | tojson }},
    cookies=cookies
)
{% else %}
response = requests.{{ method.lower() }}(
    url,
    headers=headers,
    params=params,
    cookies=cookies
)
{% endif %}

try:
    print(response.json())
except Exception:
    print(response.text)
